<section id="playlist-tabs">
	<div class="container">
		<div class="wrapper">			    
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
		      	<ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
					<li>
						<a href="/">
							<span class="text">Record Pool</span>
						</a>
					</li>
					<li>
						<a href="/crate">
							<span class="text">Crate</span>
						</a>
					</li>
					<li class="active">
						<a href="javascript:void(0);">
							<span class="text">Upload Odest/Remixes</span>
						</a>
					</li>
					<li>
						<a href="/contact">
							<span class="text">Contact</span>
						</a>
					</li>
					<li>
						<a href="/copyright">
							<span class="text">Copyright</span>
						</a>
					</li>
					<li>
						<a href="/feedback">
							<span class="text">Feedback</span>
						</a>
					</li>
					<li>
						<a href="/terms">
							<span class="text">Terms</span>
						</a>
					</li>
					<li>
						<a href="/policy">
							<span class="text">Policy</span>
						</a>
					</li>
					<li>
						<a href="/faq">
							<span class="text">F.A.Q.</span>
						</a>
					</li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active">
			        	<div class="feedback_form">
			        		<div class="row">
			        			<div class="col-sm-12">
									<img src="/images/odest-bnr.png" alt="">
									<form id="upload-form" method="post" action="/add-odest" role="form" enctype="multipart/form-data">
			        					<div class="row">
			        						<div class="col-sm-6">
												<label for="name">Song Title</label>
			        							<input type="text" id="title" name="title" placeholder="Please Enter Song Title" class="feedbck-fields" required="required" data-error="Song Title is required.">
			        						</div>
			        						<div class="col-sm-6">
												<label for="name">Artist</label>
			        							<input type="text" id="artist" name="artist" placeholder="Please Enter Artist Name" class="feedbck-fields" required="required" data-error="Artist Name is required.">
			        						</div>
										</div>
										<div class="row">
			        						<div class="col-sm-6">
												<label for="name">Song Genre</label>
												<select id="genre" name="genre" class="feedbck-fields" required="required" data-error="Genre is required">
													<option value=''>Select Genre</option>
												</select>
			        						</div>
			        						<div class="col-sm-6">
												<label for="name">Song Sub Genre</label>
			        							<select id="subgenre" name="subgenre" class="feedbck-fields" required="required" data-error="Sub Genre is required">
													<option value=''>Select Sub Genre</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<label for="name">Remixer</label>
			        							<input type="text" id="remixer" name="remixer" placeholder="Please Enter Song Remixer Name" class="feedbck-fields" required="required" data-error="Remixer Name is required.">
											</div>
											<div class="col-sm-6">
												<label for="name">BPM</label>
			        							<input type="text" id="bpm" name="bpm" placeholder="Please Enter Song BPM" class="feedbck-fields" required="required" data-error="BPM is required.">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<label for="name">Song Initial Key</label>
			        							<input type="text" id="key" name="key" placeholder="Please Enter Song Key" class="feedbck-fields" required="required" data-error="Key is required.">
											</div>
											<div class="col-sm-6">
												<label for="name">Version</label>
			        							<select id="comment" name="comment" class="feedbck-fields" required="required" data-error="Version is required.">
													<option value="">Select Version</option>
													<option value="Clean">Clean</option>
													<option value="Dirty">Dirty</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
			        							<label for="name">Choose your Song</label>
												<input type="file" id="name" name="name" class="feedbck-fields" required="required" data-error="Please Choose You Song.">
											</div>
										</div>
										<div class="row">
			        						<div class="col-sm-6" id="status"></div>
			        						<div class="col-sm-6">
			        							<% if(req.session.user.is_locked == "0"){ %>
			        							<input type="submit" name="Submit" value="Submit" class="feedbck_btn">
												<% } else { %>
												<span class="error">You don't have active subscription.</span>
												<% } %>
			        						</div>
			        					</div>
			        				</form>
			        			</div>
			        		</div>
			        	</div>
			        </div>	 
				</div>
			</div>
		</div>
	</div>
</section>
<script>
$(document).ready(function(){
	"use strict";
	$.ajax({url: "/genrefilter/json", success: function(result){
        var genre = '';
		var subgenre = '';
		$.each(result, function(k,v){
			if(!v.subfilter){
				genre += '<option value="'+v.title+'">'+v.title+'</option>'
			} else {
				subgenre += '<option value="'+v.title+'">'+v.title+'</option>'
			}
		});
		$("#genre").append(genre);
		$("#subgenre").append(subgenre);
    }});
	$( "#upload-form" ).validate({
		rules: {
			name: {
			  required: true,
			  extension: "mp3"
			}
		},
		submitHandler: function(form) {
			$( "#upload-form" ).submit(function() {
				$("#status").empty().text("File is uploading...");
				$(this).ajaxSubmit({

					error: function(xhr) {
						status('Error: ' + xhr.status);
					},

					success: function(response) {
						if(response.error){
							$("#status").empty().text(response.message).addClass("error");
						} else {
							$("#status").empty().text(response.message);
							$("#upload-form").trigger('reset');
						}
					}
				});
				return false;
			}); 
		}
	});
});
</script>
<script>
$(document).ready(function(){
	"use strict";
	$.ajax({url: "/genrefilter/json", success: function(result){
        console.log(result);
		var genre = '';
		var subgenre = '';
		$.each(result, function(k,v){
			if(!v.subfilter){
				genre += '<option value="'+v.title+'">'+v.title+'</option>'
			} else {
				subgenre += '<option value="'+v.title+'">'+v.title+'</option>'
			}
		});
		$("#genre").append(genre);
		$("#subgenre").append(subgenre);
    }});
	$( "#upload-form" ).validate({
	  rules: {
		name: {
		  required: true,
		  extension: "mp3|mp4"
		}
	  }
	});
});
</script>
